body, html {
  height: 100%;
}

html {
  }

h1, h2, h3, h4 {
  font-family: 'Anonymous Pro';
}

body {
  font-family: monospace;
}

h1 {
  font-size: 70px;
  color: #ff004c;
  margin-bottom: 3px;
}

h1 .small {
  font-size: 20px;
}

h1 a {
  text-decoration: none
}

h2 {
  font-size: 1.5em;
  color: #ff004c;
}

h3 {
  color: #ff004c;
  width: 100%;
  border-bottom: 2px solid #aaa;
}

a,
a:visited {
  color: #ff004c;
}
a:hover {
  color: #000;
}

.description {
  margin-bottom: 30px;
  margin-top: 30px;
  font-style: italic;
  font-size: 150%;
}

pre {
  background-color: #fff;
  color: #000;
  padding: 15px;
  font-family: 'Droid Sans Mono'
}

hr {
  border: 0;
  width: 80%;
  border-bottom: 1px solid #aaa;
}

ul {
  list-style: none;
}

#links a:first-child {
  padding-top: 30px;
}
#links a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  font-style: bold;
  padding-left: 25px;
  color: #000;
}

#links a:hover {
  color: #ff004c;
}


#links {
  font-size: 25px;
  height: 100%;
}

#content {
  padding-bottom: 25px;
  text-align: justify;
  margin-right: 25px;
}

#header {
  padding-top: 25px;
}

#irc {
  padding-top: 25px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

#wrapper {
  height: 100%;
  overflow: auto;
  background-color: #fff;
  color: #000;
}

.codehilite {
  color: #fff;
}
