
body {
  margin: auto;
}

h2 {
  font-size: 140%;
}

h3 {
  margin: 10px 0;
  font-size: 120%;
}

table {
  font-size: 140%;
}
.player_1,
.player_2 {
  padding: 5px;
}

#stats {
  width: 100% !important;
  margin-top: 25px;
  position: relative;
  float: left;
}

#stats th {
  padding: 5px;
}
#stats th {
  background-color: #000;
  color: #fff;
}
