{% extends "base.html" %}

{% block content %}
<style>

.toggled {
  background-color: #dedede;
}

.ai_selection,
.map_selection {
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.map_selection {
  float: left;
}

#controls {
  padding-bottom: 25px;
}

#map_controls {
  clear: both;
  width: 100%;
}

.game_run {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 300px;
  border: 2px dashed #000;
  padding-bottom: 15px;
}

.game_run .info {
  padding: 0 10px;
  margin-bottom: 5px;
}

.game_run .map {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin: 0px;
  font-size: 24px;
}

.game_run .map a {
  color: #fff;
  text-decoration: none;
}

.game_run .ai_participants {
  height: 100px;
  overflow: hidden;
  position: relative;
  padding-top: 30px;
}

.game_run .ai_participant {
  padding: 0 10px;
}
.game_run .winner {
  background-color: #eeffee;
  font-size: 20px;
  height: 30px;
  position: absolute;
  top: 0px;
  padding: 0px 5px;
  width: 290px
}

.game_run .loser {
  font-size: 12px;
}

.game_run .runtime {
  float: right;
  text-decoration: none;
  font-weight: normal;
}

.game_run .ai_class_name {
  float: left;
  width: 200px;
  overflow: hidden;
}




.game_run .kills {
  color: #000000;
}
.game_run .deaths {
  color: #ff0000;
}

.game_run .kills,
.game_run .deaths {
  width: 30px;
  float: right;
  text-align: right;
}

.game_run .playtime_ago {
  float: right;
}

.game_run .game_version {
  display: inline-block;
}


</style>


<body>

<div id="controls" class="clearfix">
  <div id="map_controls">
    <div style="float: left;">Map:</div>
    <div class="map_selection" map_name="">
      all
    </div>
    {% for m in maps %}
    <div class="map_selection" map_name="{{m}}">
      {{ m }}
    </div>
    {% endfor %}
  </div>

  <div id="ai_controls" class="clearfix">
    <div style="float: left;">Files: </div>
    <br />
    {% for a in ai_files %}
    <div class="ai_selection" ai_name="{{a}}">
      {{ a }}
    </div>
    {% endfor %}
  </div>
</div>

<div id="game_run_collection"></div>

<div id="game_runs" class="hidden">
{% for gr in game_runs %}
  <div class="game_run" data-id="{{gr.key}}" map_name={{gr.map_name}}>
    <h2 class="map">
    <a class="replay" href="/replays/{{ gr.replay.key }}">
      {{gr.map_name}}
    </a>
    </h2>


    <div class="ai_participants">
      {% for ai in gr.aiparticipant_set %}
      <div class="ai_participant {% if ai.win %}winner{%else%}loser{%endif%}" file_name="{{ai.file_name}}">
         <div class="ai_class_name"
               title="{{ ai.file_name }}:{{ ai.version }}">
            {{ ai.class_name|truncate:14 }}
         </div>

        <div class="deaths"> {{ ai.deaths }} </div>
        <div class="kills"> {{ ai.kills }} </div>
      </div>
      {% endfor %}
    </div>

    <div class="info">
    <h2 class="turns">
      {{gr.turns}} Turns
      <span class="runtime">
        ({{gr.run_time|floatformat:2}}s)
      </span>
    </h2>
    <div class="game_version">
      version: {{ gr.version|truncate:6 }}
    </div>
    <div class="playtime_ago"
         title="{{gr.created_at|date}} {{ gr.created_at|time }}">
      {{gr.created_at|timesince}} ago
    </div>
    </div>
  </div>
{% endfor %}
</div>

<script type='text/javascript'>
  $(function() {
    $("#game_run_collection").quicksand($("#game_runs .game_run"));

    // Keep track of filtering AIs
    var filterFiles = [];
    var map = null;

    var filterGames = function(games) {
      visible_games = games.filter(function() { 
        if (map && $(this).attr("map_name")!=map) {
          return false;
        }

        if (filterFiles) {
          // Must contain all AIs that are clicked on
          var gameAIs = $(this).find(".ai_participant");
          var ai_files = $.map(gameAIs, function(el) { 
            return $(el).attr("file_name")
          });

          var containsAllAI = true;
          $.each(filterFiles, function() {
            var file = String(this);
            if ( $.inArray(file, ai_files) == -1) { // For the jquery inArray
              containsAllAI = false;
            }
          });

          if (!containsAllAI) { return false; }
        }

        return true;
      });

      $("#game_run_collection").quicksand(visible_games);
    }

    $(".ai_selection").toggle(
      function() {
        var fileName = $(this).attr("ai_name");
        filterFiles.push(fileName);
        var games = $("#game_runs .game_run");
        $(this).addClass("toggled");
        filterGames(games);
      },
      function() {
        var fileName = $(this).attr("ai_name");
        var games = $("#game_runs .game_run");
        filterFiles = $.grep(filterFiles, function(el, index) { return el != fileName; });

        $(this).removeClass("toggled");
        filterGames(games);

      }
    );

    $(".map_selection").click(function() {
      map = $(this).attr("map_name");
      games = $("#game_runs .game_run");
      $(".map_selection").removeClass("toggled");
      $(this).addClass("toggled");

      filterGames(games);
    });
  });

</script>

{% endblock content %}
