<link rel="stylesheet" type="text/css" href="media/css/ladder.css">
<link rel="stylesheet" type="text/css" href="media/css/demo_table.css">
<script src="media/js/jquery.dataTables.min.js" type="text/javascript"></script>

<br />
<div style="float: left;" class="grid_12">
<table id="stats">
<thead>
<tr>
<th class="competitor">Player</th>
<th>Games</th>
<th>Skill</th>
<th>Uncertainty</th>
<th>Last Match</th>
</tr>
</thead>

<tbody>
{% for ai in ladder_players %}
  <tr>
    <td class="player_1"> {{ai.class_name}}</td>
    <td class="matches"> {{ai.matches}}</td>
    <td class="skill"> {{ai.skill}}</td>
    <td class="uncertainty"> {{ai.uncertainty}}</td>
    <td class="last match"> {{ai.last_match}}</td>
  </tr>
{% endfor %}
</tbody>
</table>

<script>
$(function() {
  $("#stats").dataTable(
    {
      "sPaginationType": "full_numbers",
      "bSort" : true,
      "bLengthChange" : false,
      "bPaginate" : false,
      "iDisplayLength" : 100,
      "bInfo" : false,
      "aaSorting" : [[2, "desc"]],
    }
  );
});
</script>
