{% extends "base.html" %}

{% block content %}
<body>
<style>
body {
  width: 100% !important;
  margin: 0px;
}

iframe body {
  border: 0px;
}

iframe {
  border: 0px;
  margin-left: 2px; // align with flot
}

#comments_note {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 25px;
}

#thread_wrapper {
  margin-left: 25px;
  margin-bottom: 25px;
}
</style>

<div id="comments_note">
Scroll down to see graphs
</div>

{% include "ai_score_graph.html" %}

<iframe src="/replays/{{blob_key}}" width="100%" height="100%" onload="plotAiScores('#ai_scores')" id="game_replay"></iframe>

<div id="ai_scores"> </div>

</body>

{% endblock content %}
