{% extends "base.html" %}

{% block content %}
<body class="container_12">
<link rel="stylesheet" type="text/css" href="media/css/ladder.css">
<link rel="stylesheet" type="text/css" href="media/css/demo_table.css">
<script src="media/js/jquery.dataTables.min.js" type="text/javascript"></script>

{% with "overall" as ladder %}
  {% with overall as ladder_players %}
    <div class="ladder clearfix">
    <h2>{{ladder}}</h2>
    {% include "ladder_table.html" %}
    </div>
  {% endwith %}
{% endwith %}

{% for ladder in ladders %}
  {% with ladders|hash:ladder as ladder_players %}
    <div class="ladder">
    <h2>{{ladder}}</h2>
    </div>
    {% include "ladder_table.html" %}
  {% endwith %}
{% endfor %}
{% endblock %}
