<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>

<title>okayzed/dmangame @ GitHub</title>

<link rel=stylesheet href="css/no-reset.css" type="text/css" />
<link rel=stylesheet href="css/960.css" type="text/css" />
<link rel=stylesheet href="css/dmangame.css" type="text/css" />
<link rel=stylesheet href="css/pygments.css" type="text/css" />

</head>

<body style="height: 100%;">

<div class="container_12 codehilite clearfix" style="height: 100%;">

  <div class="grid_3 clearfix" id="links">
    <a href="index.html">news</a>
    <hr />
    <a href="introduction.html">introduction</a>
    <a href="game_mechanics.html">mechanics</a>
    <a href="security.html">security</a>
    <hr />
    <a href="writing.html">writing an ai</a>
    <a href="ai.base.html">ai api</a>
    <a href="unit.html">unit api</a>
    <a href="debugging.html">debugging</a>
    <a href="more_ais.html">sharing ai</a>
    <hr />
    <a href="appengine.html">app engine</a>
    <a href="disqus.html">comments</a>
    <a href="http://github.com/okayzed/dmangame">github &rarr;</a>
    <a href="http://dmangame-app.appspot.com">match archive &rarr;</a>

    <div id="irc">irc.freenode.net #dmangame</div>
  </div>



  <div class="grid_9 clearfix" id="wrapper">
    <div id="header">
      <h1><a href="http://github.com/okayzed/dmangame">dmangame</a></h1>


      <div class="description">
      an ai game. maybe.
      </div>
    </div>

    <div id="content">
      {{ content }}
    </div>
    <div id="disqus_thread"></div>

    <script type="text/javascript">
        var disqus_shortname = 'dmangame'; 
        var disqus_identifier = '{{page.url}}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </div>

</div>

<link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>


{% unless site.ga_id == nil or site.ga_id == empty %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.ga_id }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endunless %}

</body>
</html>
