<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>

<title>okayzed/dmangame @ GitHub</title>

<link rel=stylesheet href="css/prettify.css" type="text/css" />
<link rel=stylesheet href="css/no-reset.css" type="text/css" />
<link rel=stylesheet href="css/960.css" type="text/css" />
<link rel=stylesheet href="css/dmangame.css" type="text/css" />
<script src="js/prettify.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"> </script>

</head>

<body>

<script>
$(function() {
  prettyPrint();
});
</script>

<div class="container_12">

  <div id="header" class="grid_8">
    <h1><a href="http://github.com/okayzed/dmangame">dmangame</a></h1>


    <div class="description">
    an ai game. maybe.
    </div>

  </div>

  <div class="grid_4" id="links">
    <a href="index.html">introduction</a>
    <a href="game_mechanics.html">mechanics</a>
    <a href="writing.html">writing an ai</a>
    <a href="api.html">ai api</a>
    <a href="debugging.html">debugging</a>
    <a href="more_ais.html">more ai</a>
    <a href="security.html">security</a>
  </div>


  <div class="grid_8" id="content">
    {{ content }}
  </div>

</div>

<link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
</body>
</html>
