<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>

<title>okayzed/dmangame @ GitHub</title>

<link rel=stylesheet href="css/no-reset.css" type="text/css" />
<link rel=stylesheet href="css/960.css" type="text/css" />
<link rel=stylesheet href="css/dmangame.css" type="text/css" />
<link rel=stylesheet href="css/fruity.css" type="text/css" />

</head>

<body style="height: 100%;">

<div class="container_12 codehilite clearfix" style="height: 100%;">

  <div class="grid_4 clearfix" id="links">
    <a href="index.html">introduction</a>
    <a href="game_mechanics.html">mechanics</a>
    <a href="writing.html">writing an ai</a>
    <a href="api.html">ai api</a>
    <a href="debugging.html">debugging</a>
    <a href="more_ais.html">more ai</a>
    <a href="security.html">security</a>
    <a href="appengine.html">app engine</a>
    <a href="http://github.com/okayzed/dmangame">github</a>

    <div id="irc">irc.freenode.net #dmangame</div>
  </div>



  <div class="grid_8 clearfix" id="wrapper">
    <div id="header">
      <h1><a href="http://github.com/okayzed/dmangame">dmangame</a></h1>


      <div class="description">
      an ai game. maybe.
      </div>

    </div>

    <div id="content">
      {{ content }}
    </div>
  </div>

</div>

<link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
</body>
</html>
